{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Data Sets{% endblock %}

{% block body %}
    <form class="generate-csv-form" method="post">
        {% csrf_token %}
        <div>
            <label class="sr-only" for="num_rows">Rows: </label>
            <input class="form-control" id="num_rows" type="number" name="num_rows" value="0">
        </div>
        <input class="btn btn-primary btn-resize" type="submit" value="Generate">
    </form>
    <div class="body-schema-list">
        {% if csv_data %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for data in csv_data %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>{{ data.created_at|date }}</td>
                        <td><span style="color:{% if data.status != 'PROCESSING' %}green{% else %}red{% endif %}"> {{ data.status }}</span></td>
                        <td>
                            {% if data.status != 'PROCESSING' %}
                                <a href="{% url 'upload-file' data.id %}">Download</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}